# Extensions
*.db
*.log
*.sqlite
*.xml
*.db-shm
*.db-wal
*.tmp
*.bak

# Folders
.cloud
.Trash-0
.vscode
appdaemon
custom_components
node-red
tts
www
themes
node-red
packages

# Files
.gmusic_authtoken
.google.token
.spotify-token-cache
.storage/auth
.storage/core.restore_state
.storage/homekit_controller-entity-map
.HA_VERSION
.uuid
auth*
cloud
camera
core*
esphome*
frontend*
hacs*
hassio
html5_push_registrations.conf
nest.conf
onboarding
person
unifi_data
cam.yaml
google_calendars.yaml
OZW_Log.txt
secrets.yaml