# Extensions
*.db
*.log
*.sqlite
*.xml
*.db-shm
*.db-wal
*.tmp
*.bak

# Folders
.cloud
.Trash-0
.vscode
appdaemon
custom_components
deps
merged
node-red
themes
tts
vacuum
www

# Files
.google.token
.spotify-token-cache
.HA_VERSION
.uuid
cameras.yaml
html5_push_registrations.conf
nest.conf
cam.yaml
google_calendars.yaml
OZW_Log.txt
secrets.yaml
.omv_cookies.json
*.storage/tag*
